<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <li>
        <ul>
            <a [routerLink]="['/items']" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-plus" aria-hidden="true">Home</span>
                </a>
        </ul>      
        <ul>
            <a [routerLink]="['/item-create']" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-plus" aria-hidden="true">Add</span>
            </a>
        </ul>
    </li>
</div>
<router-outlet></router-outlet>


